html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  white-space:nowrap;
}
body {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  -webkit-text-size-adjust: none;
   -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
        text-size-adjust: none;
  /**background:  linear-gradient(90deg, #ff95c8, #7FB1ED);
  background-size: 100% 200%;
  /**margin: auto;
  width: 100vh;
  max-width: 100vw;
  min-width: 400px;*/
}

/* @media only screen and (prefers-color-scheme: light), (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
.tablemobile {
    overflow-x: hidden;
    display: block;
}
} */

.pagetop{
  position:absolute;
  display: block;
  /* -webkit-transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
  -moz-transform: translate(0%,-50%);
  -o-transform: translate(0%,-50%);
  transform: translate(0%,-50%); */
  /* background-color: #FFFFFF; */
  top: 5%;
  display: inline-table;

}
.pagetop h1 {
display:flexbox;
font-weight: 400;
flex-direction: column;
font-size: 5rem;
text-align: right;
padding-right: 10px;
} 

.pagetop h3 {
font-style: normal;
font-size: calc(1.5rem + 1vw);
text-align: center;
} 
.pagetop h4 {
  font-family: "Roboto", sans-serif;
  display:inline;
  font-weight: 400;
  font-size: calc(0.5rem + 1vw);
  text-align: center;
  /* position: absolute;
  right: 50%;
  transform: translateX(100%);
  white-space:pre-wrap; */
  float:right;
  
}
  
  #t1 {
    display:inline-table;
    text-align: center;
    width: calc(50% - 10px);
    line-height: 1 !important;

    /*transform: translateX(-10%) scale(0.8, 0.8);*/
  }
  
  .tabletop h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #000000;
    flex-direction: column;
    font-size:4vmin;
    text-align: right;
} 

#tboy {
  margin-left: auto;
  margin-right: 0;
  text-align:right;
  width: calc(50% - 10px);
  line-height: 1 !important;

}
 .images{
  max-width: 400px !important;
 }
#reveal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: right;
  width: calc(50% - 10px);
  float:right;
  padding-right: 10px;
}
#scratcher-box {
  width:22em;
  align-content: left;
  height:22em;
  position:absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /* background-color: #FFFFFF; */
  top: 50%;
  left: 0%;
  border-radius: 5%;
}
/* Styles for mobile phones */ 

@media (max-width:620px){ 
  
  #t1
  {
    width: calc(40% - 10px);

  }
  #reveal {
    width: calc(45% - 10px);

  }
}
@media (min-height: 365px) and (max-width: 671px) { 
  .pagetop h1 {
    font-size: calc(4rem + 1.2vw);
  }
  .pagetop h4 {
    font-size: calc(0.5rem + 0.70vw);
  }
  .pagetop h3 {
    font-size: calc(1.5rem + 1vw);
  }
  #t1
  {
    width: calc(50% - 10px);
  }
  #reveal {
    width: calc(50% - 10px);

  }
  #scratcher-box {
    width: 18em;
    height: 18em;
    top: 50%;
    left: 0%;
  }
}
@media (max-height: 440px) { 
  .pagetop h1 {
    font-size: calc(4rem + 1.2vw);
  }
  .pagetop h4 {
    font-size: calc(0.5rem + 0.70vw);
  }
  .pagetop h3 {
    font-size: calc(1.7rem);
  }
  #t1
  {
    width: calc(50% - 10px);
  }
  #reveal {
    width: calc(50% - 10px);

  }
  #scratcher-box {
    width: 20em;
    height: 20em;
    top: 50%;
    left: 0%;
  }
   
}
@media (max-height: 375px){ 
  .pagetop h1 {
    font-size: calc(4rem );
  }
  .pagetop h4 {
    font-size: calc(0.8rem);
  }
  .pagetop h3 {
    font-size: calc(1.4rem);
  }
  #scratcher-box {
    width: 19em;
    height: 19em;
    top: 50%;
    left: 0%;
  }
  #t1
  {
    width: calc(50% - 10px);
  }
  #reveal {
    width: calc(50% - 10px);

  }
  .pagetop {
    top:0%;
  }
  .images{
    max-width: 300px !important;
  }
}
@media (min-width: 672px) { 
  
  #t1
  {
    width: calc(55% - 10px);
  }
  #reveal {
    width: calc(55% - 10px);
  }
}
@media screen and (max-height:355px){ 
  .pagetop h1 {
    font-size: calc(4rem);
  }
  #scratcher-box {
    width: 18em;
    height: 18em;
    top: 50%;
    left: 0%;
  } 
  .images{
    max-width: 250px !important;
  }
}
@media screen and (max-height:320px){ 
  .pagetop h1 {
    font-size: calc(3rem);
  }
   .pagetop h3 {
    font-size: calc(1.3rem);
  }
  .pagetop h4 {
    font-size: calc(0.7rem );
  }
  #scratcher-box {
    width: 16em;
    height: 16em;
    top: 50%;
    left: 1%;
  } 
   #reveal {
    width: calc(50% - 10px);
  }
   .images{
    max-width: 250px !important;
  }  
}
@media screen and (max-height:290px){ 
  .pagetop h1 {
    font-size: calc(2rem + 5vw);
  }
   .pagetop h3 {
    font-size: calc(1.2rem);
  }
  .pagetop h4 {
    font-size: calc(0.6rem);
  }
  #scratcher-box {
    width: 15em;
    height: 15em;
    top: 50%;
    left: 3vw;
  } 
 #reveal {
    width: calc(50% - 10px);
  }
   .images{
    max-width: 250px !important;
  }  
}
/* Samsung Galaxy Z Fold (Landscape mode) */
@media screen and (min-width: 700px) and (min-height: 700px)  and (orientation: landscape) {
  .pagetop {
    top: 25%;
  }
}
/* @media (max-height:351px) and (min-height:319){ 
  
  #scratcher-box {
    scale: 0.9;
    top: 50%;
  }
  .pagetop h1 {
    font-size: calc(3rem + 0.55vw);
  }
  #t1
  {
    width: calc(40% - 10px);

  }
  #reveal {
    width: calc(45% - 10px);

  }
} */


table { 
  table-layout:fixed;
  /**transform: translate(0%, 50%);
  top: 75%;
  left: 10%;*/
}

.scratcher-bottom-margin {
  display:block;
  position: fixed;
  text-align: right;
  bottom: 1px;
  right: 1px;
  } 

#scratcher-box canvas {
cursor: grab;
}
#scratcher1, #scratcher2, #scratcher3, #scratcher4, #scratcher5, #scratcher6, #scratcher7, #scratcher8, #scratcher9 {
  width: 100%;
  padding: 0px;
  
}
#resetbutton {
border: none;
padding: 10px 20px;
color: #FFFFFF;
cursor: pointer;
transition: all 200ms ease-in-out;
transition-duration: 200ms;
transition-timing-function: ease-in-out;
transition-delay: 0s;
border-radius:1cap;
text-align: center;
text-decoration: none;
display:inline-block;
font-size: 2vh;
margin: 0;
}
#resetbutton:hover {
  color: #000000;
  background:snow!important;
  border: 1px solid transparent;
}
#baby{
  font-weight: 600;
}
/* modal window styles */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #45a14d;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #afafafee;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  word-break: break-word;

}
h2 {
  color: #000000 !important;
  font-weight: 100;
  white-space: normal;
}
/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}